/**
 * @copyright	Copyright (C) 2005 - 2016 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */
.dnd-list-highlight {
  position: relative;
  margin-bottom: 18px;
  color: #404040;
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
  background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image: -o-linear-gradient(top, #fceec1, #eedc94);
  background-image: linear-gradient(top, #fceec1, #eedc94);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.dndlist-place-holder {
	height: 51px;
	border-left: none;
	border-right:none;
}

.dndlist-dragged-row {
	background-color: #5bb75b !important;
	*background-color: #51a351 !important;
	background-image: -ms-linear-gradient(top, #62c462, #51a351) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)) !important;
	background-image: -webkit-linear-gradient(top, #62c462, #51a351) !important;
	background-image: -o-linear-gradient(top, #62c462, #51a351) !important;
	background-image: -moz-linear-gradient(top, #62c462, #51a351) !important;
	background-image: linear-gradient(top, #62c462, #51a351) !important;
	background-repeat: repeat-x !important;
	border-color: #51a351 #51a351 #387038 !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0) !important;
	filter: progid:dximagetransform.microsoft.gradient(enabled=false) !important;
	height: 54px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.dndlist-group-disabled {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.dndlist-group-disabled td {
	background-image: url("../img/bg-overlay.png");
}

.sortable .sortable-handler {
	cursor: auto;
}

.sortable .sortable-handler.sortable-inactive{
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.middle, .table td.middle, .table th.middle {
    vertical-align: middle;
}
